{:paths ["src"]
 :deps {io.github.ObneyAI/sio
        {:git/url "https://github.com/ObneyAI/sio.git"
         :git/sha "91e7d10090b7d4fd6e389425dbeb7ce411aea9af"}

        tech.unravel/litellm-clj
        {:git/url "https://github.com/ObneyAI/litellm-clj.git"
         :git/sha "0570e9459b8751d4a0c3dc1cd48595804426a84d"}

        org.clojure/core.async {:mvn/version "1.6.681"}}
 :aliases {:test {:extra-paths ["test"]}}}
